
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This is index (Home) Page</h1>
        <h2>Welcome-@User.Identity.Name</h2>
    </div>
</body>
</html>
